---
import BaseLayout from "../layouts/BaseLayout.astro"
import Nav from "../components/Nav.astro"
import Hero from "../components/Hero.astro"
import Value from "../components/Value.astro"
import Cta from "../components/Cta.astro"
import Footer from "../components/Footer.astro"

const title = "workit - Features"
const description = "Detailed information on workit's services."
---

<BaseLayout title={title} description={description}>
    <Nav />
	<Hero />
    <main>
        <Value />
        <Cta />
    </main>
    <Footer />
</BaseLayout>
